<a href="https://colab.research.google.com/github/alfanashfak2001/python_maths/blob/main/AWS_COVID_Dataset_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install boto3
!pip install redshift_connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: boto3 in /usr/local/lib/python3.9/dist-packages (1.26.112)
Requirement already satisfied: botocore<1.30.0,>=1.29.112 in /usr/local/lib/python3.9/dist-packages (from boto3) (1.29.112)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.9/dist-packages (from boto3) (0.6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.9/dist-packages (from boto3) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.9/dist-packages (from botocore<1.30.0,>=1.29.112->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.9/dist-packages (from botocore<1.30.0,>=1.29.112->boto3) (1.26.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.112->boto3) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: redshift_connector in /usr/local/lib/python3.9/dist-packages (2.0.910)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (67.6.1)
Requirement already satisfied: lxml>=4.6.5 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (4.9.2)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (4.11.2)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (2.27.1)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (1.29.112)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (1.4.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (23.0)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (1.26.112)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from redshift_connector) (2022.7.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.4)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.9/dist-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.9/dist-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.6.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.9/dist-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.15)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.9/dist-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2022.12.7)
Requirement already satisfied: asn1crypto>=1.5.1 in /usr/local/lib/python3.9/dist-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)

In [ ]:

import redshift_connector
import boto3
import time
import pandas as pd
from io import StringIO
import csv
import json

In [ ]:
# connect to aws and s3
AWS_ACCESS_KEY = "AKIA2K3ETPW4WCQA3FX7"
AWS_SECRET_KEY = "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"
AWS_REGION = "eu-north-1"
SCHEMA_NAME = "covid_dataset"
S3_STAGING_DIR = "s3://covid-19-dataengineering-project-bucket/output/"
S3_BUCKET_NAME = "covid-19-dataengineering-project-bucket"
S3_OUTPUT_DIRECTORY = "output"

In [ ]:
# connect to athena
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [ ]:
# Basically this function do is to takes the boto3 object,
# run some queries on athena and store the output in s3

Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.1)
            else:
                raise err
    temp_file_location: str = "athena_query_result.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,

    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM csv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '59fad954-ecf4-4b27-895b-b4eb42c5b60e',
 'ResponseMetadata': {'RequestId': '2cbd1e93-c45b-4c75-b2da-9e0c6de24494',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 13 Apr 2023 20:25:36 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '2cbd1e93-c45b-4c75-b2da-9e0c6de24494'},
  'RetryAttempts': 0}}

In [ ]:
csv=download_and_load_query_results(athena_client, response)

In [ ]:
csv.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_nytimes_data_in_usa_us_county",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '40a6ffca-1fbe-49c2-bffb-a83ec20d89e5',
 'ResponseMetadata': {'RequestId': '52fd6283-7ff1-4913-9992-15a55e689996',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 13 Apr 2023 20:25:39 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '52fd6283-7ff1-4913-9992-15a55e689996'},
  'RetryAttempts': 0}}

In [ ]:
enigma_nytimes_data_in_usa_us_county = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_nytimes_data_in_usa_us_states",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': 'a6ede386-b44c-417f-aee9-123d44dce63f',
 'ResponseMetadata': {'RequestId': '4ff9f7a2-19ec-4e63-8977-812dae8f088d',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 13 Apr 2023 20:25:41 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '4ff9f7a2-19ec-4e63-8977-812dae8f088d'},
  'RetryAttempts': 0}}

In [ ]:
enigma_nytimes_data_in_usa_us_states = download_and_load_query_results(
    athena_client, response)

In [ ]:
enigma_nytimes_data_in_usa_us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '284dfefa-2ff8-40b5-8bef-04eae6f7cf7a',
 'ResponseMetadata': {'RequestId': '62ee1709-2a17-4de8-b22e-b0d732c6016a',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 13 Apr 2023 20:25:42 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '62ee1709-2a17-4de8-b22e-b0d732c6016a'},
  'RetryAttempts': 0}}

In [ ]:
rearc_covid_19_testing_data_us_daily = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_states_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': 'f6b9c8f9-49b5-4bd1-a41e-3560220369aa',
 'ResponseMetadata': {'RequestId': '13c52700-9a42-46e3-ba7c-19093d5b5c79',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 13 Apr 2023 20:25:43 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '13c52700-9a42-46e3-ba7c-19093d5b5c79'},
  'RetryAttempts': 0}}

In [ ]:
rearc_covid_19_testing_data_states_daily = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_total_latest",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': 'fc0f3c31-6463-4c7e-9789-0f38cece5154',
 'ResponseMetadata': {'RequestId': 'dda90afc-1ed8-446e-b550-a064d5ec6ffb',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 13 Apr 2023 20:25:45 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'dda90afc-1ed8-446e-b550-a064d5ec6ffb'},
  'RetryAttempts': 0}}

In [ ]:
rearc_covid_19_testing_data_us_total_latest = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM countrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': 'dbb108d4-282b-414d-9446-2b5a891277e9',
 'ResponseMetadata': {'RequestId': '87d63985-8bf2-4b45-bdc3-7c1bb0fc8d7f',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 13 Apr 2023 20:25:46 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '87d63985-8bf2-4b45-bdc3-7c1bb0fc8d7f'},
  'RetryAttempts': 0}}

In [ ]:
countrycode = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM state_abv ",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '59e58100-aebc-45b7-af2a-15861ff4c399',
 'ResponseMetadata': {'RequestId': 'af577ba8-a27e-4bc0-baee-768eb451b1bc',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 13 Apr 2023 20:25:47 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'af577ba8-a27e-4bc0-baee-768eb451b1bc'},
  'RetryAttempts': 0}}

In [ ]:
state_abv = download_and_load_query_results(
    athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM countypopulation",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '5dddef20-a1dc-47c2-ae56-f3848df9a664',
 'ResponseMetadata': {'RequestId': '2c566ed8-51bf-4f6d-9f15-f385e1b7ec74',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 13 Apr 2023 20:25:48 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '2c566ed8-51bf-4f6d-9f15-f385e1b7ec74'},
  'RetryAttempts': 0}}

In [ ]:
countypopulation=download_and_load_query_results(
    athena_client, response)

In [ ]:
# grab the first role of the ender
new_header = state_abv.iloc[0]

In [ ]:
# takes the data below the data header row
state_abv = state_abv[:1]

In [ ]:
# Set the header row as the df header.
state_abv.column = new_header

<ipython-input-87-6f7dc4d065f4>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  state_abv.column = new_header

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [ ]:
response

{'QueryExecutionId': '2a7ef5f6-32ba-4cb6-bdfc-5173b202ba6c',
 'ResponseMetadata': {'RequestId': '8b7aeab4-cd0d-4da8-92d6-cbe7de116d7e',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 13 Apr 2023 20:25:50 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '8b7aeab4-cd0d-4da8-92d6-cbe7de116d7e'},
  'RetryAttempts': 0}}

In [ ]:
rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)

In [ ]:
factCovid_1 = csv[['fips', 'province_state',
                           'country_region', 'confirmed', 'deaths', 'recovered', 'active']]
factCovid_2 = rearc_covid_19_testing_data_states_daily[[
    'fips', 'date', 'positive', 'negative', 'hospitalized', 'hospitalizedcurrently', 'hospitalizeddischarged']]

factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')

In [ ]:
factCovid.shape

(27992, 13)

In [ ]:
dimRegion_1 = csv[['fips', 'province_state',
                           'country_region', 'latitude', 'longitude']]
dimRegion_2 = enigma_nytimes_data_in_usa_us_county[['fips', 'county', 'state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')


dimHospital = rearc_usa_hospital_beds[['fips', 'state_name', 'latitude', 'longtitude',
                                 'hq_address', 'hospital_name', 'hospital_type', 'hq_city', 'hq_state']]
dimDate = rearc_covid_19_testing_data_states_daily[['fips', 'date']]

In [ ]:
dimDate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [ ]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

dimDate.head()

<ipython-input-95-a0e79f9d826f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

   fips       date
0   2.0 2021-03-07
1   1.0 2021-03-07
2   5.0 2021-03-07
3  60.0 2021-03-07
4   4.0 2021-03-07

In [ ]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

dimDate.head()

<ipython-input-96-52a6728b7e6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
<ipython-input-96-52a6728b7e6c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
<ipython-input-96-52a6728b7e6c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [ ]:
bucket = 'covid-19-dataengineering-project-bucket'  # already created on s3

In [ ]:
# Store the dimentional model data into s3
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())


csv_buffer = StringIO()
dimRegion.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimRegion.csv').put(Body=csv_buffer.getvalue())

csv_buffer = StringIO()
dimHospital.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimHospital.csv').put(Body=csv_buffer.getvalue())

csv_buffer = StringIO()
dimDate.to_csv(csv_buffer)
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimDate.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '9QYHHXP52B51MDKW',
  'HostId': 'aDUzBByXx91hPmTt2oGpcLSN7KsEtLMSr9belgvIIrUKdMyakKZ+EcKI0GUEoBT/31ZXQB54oxiDD+LNAD7FsA==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'aDUzBByXx91hPmTt2oGpcLSN7KsEtLMSr9belgvIIrUKdMyakKZ+EcKI0GUEoBT/31ZXQB54oxiDD+LNAD7FsA==',
   'x-amz-request-id': '9QYHHXP52B51MDKW',
   'date': 'Thu, 13 Apr 2023 20:27:22 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"c806953ef77c6fc33fdf78f5d2b636e4"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"c806953ef77c6fc33fdf78f5d2b636e4"',
 'ServerSideEncryption': 'AES256'}

In [ ]:
# Extract the schema
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)
CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalized" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalizeddischarged" REAL
)
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)